{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "homepage/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "homepage/css/Navigation-Clean.css" %}">
    <link rel="stylesheet" href="{% static "homepage/css/styles.css" %}">
    <title>{{ result.title }}</title>
</head>
<body>
    <div style="margin: 20px 100px; max-width: 1000px">
        <div class="title-bar" style="height: 100px; margin: 20px 0;">
            <div class="title-content-bar" style="height: 75px;">
                <h1>{{ result.title }}</h1>
            </div>
            <h5>{{ result.source }} {{ result.time }}</h5>
        </div>
        <div class="article-card">
            <div class="card-body">
                <p>{{ result.content | safe }}</p>
            </div>
        </div>
    </div>
</body>
</html>
