:root {
    --background:#dde3ec;
    --foreground:#eff2fa;
    --accent:#FFEB3B;
    --bar:#bed0ea;
    --border:#9eaec4;
    --h2:#7792bb;
    --title:#51637b;
    --text:#768292;
}
body {
    background-color: var(--background)!important;
    color: var(--bar);
}

form div button {
    background-color: var(--bar)!important;
    border-color: var(--bar)!important;
}

.search-card, .article-card {
    background-color: var(--foreground)!important;
    border-radius: 10px!important;
}
.search-card a {
    color: var(--title);
}
.search-card h6 {
    color: var(--h2);
}
.search-card p {
    color: var(--text);
}
.article-card p {
    font-size: 20px;
    /* text-indent: 2em; */
}

#search-bar {
    background-color: var(--border)!important;
    border-radius: 5px;
}

.title-bar {
    background-color: var(--bar);
    border-radius: 10px;
}
.title-bar h1 {
    font-size: 25px;
}
.title-bar h5 {
    font-size: 15px;
    text-align: center;
    color: var(--h2);
}
.title-content-bar {
    background-color: var(--border);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}



.t-hover-shadow {
    transition: transform .2s ease-in-out, box-shadow .2s cubic-bezier(.47, 0, .745, .715), border .2s linear .1s;
}

.t-hover-shadow:hover {
    box-shadow: 2px 2px 7px var(--h2);
    background-color: #7792bb!important;
    border-color: #7792bb!important;
}
